# Created by https://www.gitignore.io/api/al
# Edit at https://www.gitignore.io/?templates=al

### AL ###
#Template for AL projects for Dynamics 365 BC
#launch.json folder
Power-Payroll/.vscode/
#Symbols folder
Power-Payroll/.alpackages/
Power-Payroll/.alcache/
Power-Payroll/.altemplates/
Power-Payroll/*.app

# End of https://www.gitignore.io/api/al

